body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}


.feed-layout {
    background-color: white;
    width: 1200px;
    height: 760px;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border-width: 2px;
    padding: 30px;
    justify-content: center;
    align-items: center;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.feed-text {
    text-align: center;
}

.tablegames {
    display: flex;
    align-items: center;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: row;
}


.feed-page {
    background-color: #ccc;
    color: #fff;
    border-radius: 19px;
    font-size: 50px;
    padding: 10.5px 15.3px;
    border-style: solid;
    border: 0px;
    text-decoration: none;
    color: #000;
    bottom: 220px;
}


.feed-pages {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.tablegame-img {
    max-width: 200px;
    max-height: 120px;
}

.tablegame-div {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.116);
}